<h1>Edit <%= @tadpole.name %></h1>

<%= form_for @tadpole, url: {action: "update"} do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :color %>:
  <%= f.text_field :color %><br />

  <%= collection_select(:tadpole, :frog_id, Frog.all, :id, :name, :prompt => true) %>

  <%= f.submit "Update" %>
<% end %>
<a href="/tadpoles">Cancel</a>