<h1>Create a new pond</h1>

<%= form_for @pond, url: {action: "create"} do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :water_type %>:
  <%= f.text_field :water_type %><br />

  <%= f.submit "Create" %>
<% end %>

<a href="/ponds">Cancel</a>