<h1>Create a new frog</h1>

<%= form_for @frog, url: {action: "create"} do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :color %>:
  <%= f.text_field :color %><br />

  <%= collection_select(:frog, :pond_id, Pond.all, :id, :name, :prompt => true) %>

  <%= f.submit "Create" %>
<% end %>

<a href="/frogs">Cancel</a>